<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            AnsibleAutomates 2019 MultiCloud Demo
        </title>
        <script type="text/javascript">
                function hashCode(str) { // java String#hashCode
                    var hash = 0;
                    for (var i = 0; i < str.length; i++) {
                        hash = str.charCodeAt(i) + ((hash << 5) - hash);
                    }
                    return hash;
                }
                function intToRGB(i) {
                    var c = (i & 0x00FFFFFF)
                        .toString(16)
                        .toUpperCase();

                    return "#00000".substring(0, 6 - c.length) + c;
                }
        </script>
        <style>
          h2 {
              text-align: center;
              font-family: sans-serif;
          }
        </style>
    </head>
    <body>
        <script>
            console.log(intToRGB(hashCode("{{ ansible_fqdn }}")));
            document.body.style.backgroundColor = "#" + intToRGB(hashCode("{{ ansible_fqdn }}"));
        </script>
        <h2>
        You are being served from {{ cloud }} for this request.
        </h2>
    </body>
</html>